img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: DodgerBlue;
  padding: 20px;
}

.container div {
  background-color: #f1f1f1;
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}